.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.858887;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{width:70.967368px;}
._2{width:74.443119px;}
._11{width:86.397475px;}
._a{width:89.021368px;}
._9{width:92.613127px;}
._7{width:94.594971px;}
._6{width:104.451475px;}
._4{width:108.750853px;}
._b{width:109.920724px;}
._d{width:111.478979px;}
._10{width:113.279911px;}
._c{width:120.701711px;}
._1{width:123.604498px;}
._f{width:126.124616px;}
._5{width:131.449674px;}
._e{width:138.211709px;}
._12{width:139.461709px;}
._8{width:144.173830px;}
._17{width:149.457896px;}
._13{width:155.711945px;}
._15{width:181.445719px;}
._1c{width:226.281858px;}
._18{width:270.922018px;}
._16{width:283.689672px;}
._0{width:309.687357px;}
._1d{width:337.161858px;}
._1b{width:359.217672px;}
._14{width:374.566627px;}
._1a{width:424.245748px;}
._19{width:467.133810px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:64.000000px;}
.fs1{font-size:72.000000px;}
.fs0{font-size:176.000000px;}
.y0{bottom:0.000000px;}
.y16{bottom:44.394592px;}
.y17{bottom:55.866592px;}
.y24{bottom:62.402954px;}
.y15{bottom:65.994591px;}
.y23{bottom:84.002953px;}
.y13{bottom:94.794586px;}
.y14{bottom:106.266586px;}
.y22{bottom:112.802956px;}
.y12{bottom:116.394585px;}
.y21{bottom:134.402954px;}
.yf{bottom:145.194580px;}
.y10{bottom:155.994579px;}
.y20{bottom:156.002953px;}
.y11{bottom:156.666580px;}
.ye{bottom:166.794579px;}
.y1f{bottom:184.802948px;}
.yc{bottom:195.594604px;}
.ya{bottom:206.394604px;}
.y1e{bottom:206.402946px;}
.yd{bottom:207.066605px;}
.yb{bottom:217.194603px;}
.y1d{bottom:235.202950px;}
.y7{bottom:245.994591px;}
.y1c{bottom:256.802948px;}
.y5{bottom:267.594589px;}
.y8{bottom:267.966591px;}
.y9{bottom:268.266590px;}
.y1b{bottom:278.402946px;}
.y6{bottom:289.194588px;}
.y1a{bottom:300.002945px;}
.y4{bottom:317.994591px;}
.y19{bottom:321.602943px;}
.y3{bottom:339.594589px;}
.y18{bottom:350.802940px;}
.y2{bottom:361.194588px;}
.y1{bottom:445.756886px;}
.h5{height:43.750000px;}
.h4{height:44.500000px;}
.h3{height:49.218750px;}
.h2{height:50.062500px;}
.h1{height:119.796875px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1e{left:25.257448px;}
.x14{left:26.788698px;}
.x2{left:34.701296px;}
.x19{left:41.040161px;}
.x3{left:42.389771px;}
.x1c{left:51.313110px;}
.x1f{left:56.952269px;}
.x22{left:59.827269px;}
.x1{left:73.200012px;}
.x15{left:128.630081px;}
.x20{left:134.745316px;}
.x1d{left:138.158401px;}
.x16{left:142.495804px;}
.x1a{left:145.828323px;}
.x23{left:151.777054px;}
.x24{left:158.348801px;}
.x1b{left:175.303905px;}
.x4{left:179.942577px;}
.x17{left:185.504105px;}
.x21{left:188.754105px;}
.x25{left:326.375275px;}
.x6{left:331.522842px;}
.x18{left:332.647835px;}
.x5{left:337.397842px;}
.x7{left:394.583698px;}
.x8{left:400.295124px;}
.xb{left:455.919468px;}
.x9{left:460.645540px;}
.xa{left:466.356966px;}
.xc{left:531.049217px;}
.xd{left:603.655695px;}
.xf{left:669.702995px;}
.xe{left:673.575064px;}
.x10{left:752.879238px;}
.x11{left:825.319529px;}
.x13{left:897.778986px;}
.x12{left:898.880548px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{width:94.623157pt;}
._2{width:99.257492pt;}
._11{width:115.196633pt;}
._a{width:118.695157pt;}
._9{width:123.484169pt;}
._7{width:126.126628pt;}
._6{width:139.268633pt;}
._4{width:145.001138pt;}
._b{width:146.560965pt;}
._d{width:148.638639pt;}
._10{width:151.039881pt;}
._c{width:160.935615pt;}
._1{width:164.805997pt;}
._f{width:168.166155pt;}
._5{width:175.266233pt;}
._e{width:184.282278pt;}
._12{width:185.948945pt;}
._8{width:192.231773pt;}
._17{width:199.277195pt;}
._13{width:207.615927pt;}
._15{width:241.927625pt;}
._1c{width:301.709143pt;}
._18{width:361.229357pt;}
._16{width:378.252896pt;}
._0{width:412.916476pt;}
._1d{width:449.549143pt;}
._1b{width:478.956896pt;}
._14{width:499.422169pt;}
._1a{width:565.660997pt;}
._19{width:622.845079pt;}
.fs2{font-size:85.333333pt;}
.fs1{font-size:96.000000pt;}
.fs0{font-size:234.666667pt;}
.y0{bottom:0.000000pt;}
.y16{bottom:59.192790pt;}
.y17{bottom:74.488790pt;}
.y24{bottom:83.203939pt;}
.y15{bottom:87.992788pt;}
.y23{bottom:112.003937pt;}
.y13{bottom:126.392782pt;}
.y14{bottom:141.688782pt;}
.y22{bottom:150.403941pt;}
.y12{bottom:155.192780pt;}
.y21{bottom:179.203939pt;}
.yf{bottom:193.592773pt;}
.y10{bottom:207.992772pt;}
.y20{bottom:208.003937pt;}
.y11{bottom:208.888774pt;}
.ye{bottom:222.392771pt;}
.y1f{bottom:246.403931pt;}
.yc{bottom:260.792806pt;}
.ya{bottom:275.192805pt;}
.y1e{bottom:275.203929pt;}
.yd{bottom:276.088806pt;}
.yb{bottom:289.592804pt;}
.y1d{bottom:313.603933pt;}
.y7{bottom:327.992788pt;}
.y1c{bottom:342.403931pt;}
.y5{bottom:356.792786pt;}
.y8{bottom:357.288788pt;}
.y9{bottom:357.688787pt;}
.y1b{bottom:371.203929pt;}
.y6{bottom:385.592784pt;}
.y1a{bottom:400.003927pt;}
.y4{bottom:423.992788pt;}
.y19{bottom:428.803925pt;}
.y3{bottom:452.792786pt;}
.y18{bottom:467.737254pt;}
.y2{bottom:481.592784pt;}
.y1{bottom:594.342514pt;}
.h5{height:58.333333pt;}
.h4{height:59.333333pt;}
.h3{height:65.625000pt;}
.h2{height:66.750000pt;}
.h1{height:159.729167pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1e{left:33.676598pt;}
.x14{left:35.718264pt;}
.x2{left:46.268394pt;}
.x19{left:54.720215pt;}
.x3{left:56.519694pt;}
.x1c{left:68.417480pt;}
.x1f{left:75.936358pt;}
.x22{left:79.769691pt;}
.x1{left:97.600016pt;}
.x15{left:171.506775pt;}
.x20{left:179.660421pt;}
.x1d{left:184.211202pt;}
.x16{left:189.994405pt;}
.x1a{left:194.437764pt;}
.x23{left:202.369405pt;}
.x24{left:211.131734pt;}
.x1b{left:233.738541pt;}
.x4{left:239.923436pt;}
.x17{left:247.338806pt;}
.x21{left:251.672139pt;}
.x25{left:435.167033pt;}
.x6{left:442.030457pt;}
.x18{left:443.530446pt;}
.x5{left:449.863790pt;}
.x7{left:526.111598pt;}
.x8{left:533.726832pt;}
.xb{left:607.892624pt;}
.x9{left:614.194054pt;}
.xa{left:621.809288pt;}
.xc{left:708.065623pt;}
.xd{left:804.874260pt;}
.xf{left:892.937327pt;}
.xe{left:898.100085pt;}
.x10{left:1003.838984pt;}
.x11{left:1100.426038pt;}
.x13{left:1197.038648pt;}
.x12{left:1198.507398pt;}
}
