<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
<!--      {% if site.github.is_project_page %}-->
<!--        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>-->
<!--      {% endif %}-->
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

      <a href="#news" class="btn" target="_self">News</a>
      <a href="#dates" class="btn" target="_self">Important Dates</a>
      <a href="#schedule" class="btn" target="_self">Schedule</a>
      <a href="#speakers" class="btn" target="_self">Keynote Speakers</a>
      <a href="#accepted-papers" class="btn" target="_self">Accepted Papers</a>
      <a href="#papers" class="btn" target="_self">Call for Papers</a>
      <a href="#challenge" class="btn" target="_self">Challenge</a>
      <a href="#organizers" class="btn" target="_self">Organizers</a>
      <br>
      <a href="{{ site.baseurl }}/index" class="btn" target="_self" style="width:150px">Latest</a>
      <a href="{{ site.baseurl }}/cvpr2024" class="btn" target="_self" style="width:150px">CVPR 2024</a>
      <a href="{{ site.baseurl }}/cvpr2023" class="btn" target="_self" style="width:150px">CVPR 2023</a>
      <a href="{{ site.baseurl }}/cvpr2022" class="btn" target="_self" style="width:150px">CVPR 2022</a>
      <a href="{{ site.baseurl }}/cvpr2021" class="btn" target="_self" style="width:150px">CVPR 2021</a>
      
    </header>

    <script src="assets/js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
      diameter: 56,
      backgroundColor: '#4196ff',
      textColor: '#fff',
    })</script>

    <main id="content" class="main-content" role="main">
      {{ content }}

    </main>
  </body>
</html>
